@mixin global_padding {
  padding: 0 50px;
}

.clearfix {
  *zoom: 1;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin global_centering {
  width: 1000px;
  margin: 0 auto;
  @include box_sizing(border-box);
}

@mixin border_radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box_align($type) {
  -webkit-box-align: $type;
  -moz-box-align: $type;
  -o-box-align: $type;
  -ms-box-align: $type;
  box-align: $type;
}

@mixin box_sizing($type) {
  -moz-box-sizing: $type;
  -webkit-box-sizing: $type;
  -o-box-sizing: $type;
  -ms-box-sizing: $type;
  box-sizing: $type;
}
