<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Nunito:300' rel='stylesheet' type='text/css'>
  <style>
    body{
      font-family: 'Nunito', sans-serif;
    }
  </style>
</head>
<body>
  <div id="Root"></div>
  <script type="text/javascript" src="{{ assetPath 'application.js' }}"></script>
</body>
</html>
